* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans' , sans-serif;
    background-image:url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 40vh, left 49vw top 50vh;
    background-color:hsl(185, 75%, 39%);
}
.card-container{
    position: absolute;
    text-align: center;  
    width:350px;
    height:375px;
    border-radius: 15px;
    background: #FFFFFF;
    background-image:url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    overflow: hidden; 
}
 .photo {
    border: 3px solid #ffff;
    border-radius: 50%;
    margin-top: -55px;
 }
 .profile-info{
    display:flex;
    justify-content: center;
    gap:10px;
    padding:3%;
 }
 .profile-info h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
 }
.profile-info span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color:#6B7082;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#6B7082;
}
.social-network {
    display: flex;
    justify-content: center;
    border-top: 1px solid hsla(227, 10%, 46% , 0.2);
    margin-top: 7%;
    justify-content: space-between;
}
.activity {
    display: flex;
    flex-direction: column;
    padding:20px 30px 30px;
}
.activity h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
}
 .activity span  {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color:#6B7082;
} 
